<div class="p-4">
  <p class="font-bold text-3xl">Home</p>
</div>

<!-- Apresentação -->
<div class="bg-white p-4 shadow-xl rounded-md border border-[#e7e0e0]">
  <div>
    <p class="font-semibold text-2xl">Olá Milena!</p>
    <span class="font-medium text-sm">22, Novembro 2024</span>
  </div>

  <img src="welcome.svg" class="m-auto" width="500" />

  <div class="mt-4 flex items-center justify-center">
    <p
      class="p-4 border border-[#272846] rounded-md text-xl font-semibold w-1/2 text-center"
    >
      Bem-vindo ao WenLock!
    </p>
  </div>
  <br><br>
</div>
